<%- include('partials/forgot/forgotheader') %>

<body>
  <div class="forgot-password-container">
    <div class="forgot-password-icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
      </svg>
    </div>
    <h1>Reset Password</h1>
    <form action="/forgot-password" method="POST">
      <div class="input-group">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
        </svg>
        <input type="email" name="email" placeholder="Your email" required>
      </div>
      <button type="submit">Send Reset Link</button>
    </form>
  </div>
</body>
<%- include('partials/forgot/forgotfooter') %>


